{{ParentComp}}
<p>color-page works!</p>

<a class="btn btn-primary orangeBgClr me-4" routerLinkActive="active" routerLink="orange">Orange page</a>
<a class="btn btn-primary" routerLinkActive="active" routerLink="blue">Blue page</a>
<!-- <button type="button" class="btn btn-primary" (click)="navigate('orange')">Orange Page</button>
<button type="button" class="btn btn-primary" (click)="navigate('blue')">Blue Page</button> -->
<!-- <app-orange [data]="parentInp"></app-orange> -->

<app-select [items]="colors" (valueChanged)="msg = $event"></app-select>
{{msg}}
<router-outlet></router-outlet>
