$orange_bg: #ff6000;
$blue_bg: #0095ff;
$fontSize:10px;
$icon24: 24px;
$img_path:"/assets/images";
@mixin border($size:1px,$style:solid,$color:#fff){
    border: $size $style $color;
}
@mixin padding($size){
    padding: $size;
}
@mixin Icon($size, $img){
    width: $size * 2;
    height: $size * 2;
    background: url("#{$img_path}/#{$img}") no-repeat left center / contain;
    @media (min-width:768px) and (max-width:960px){
        width: $size;
        height: $size;
    }
}
.rightIcon{
    @include Icon($icon24, "right_icon.png");
}
.location{
    @include Icon($icon24, "location_icon.png")
}

.bg-secondary{
    background-color: $orange_bg !important;
}
.clrbg{
    background-color: $orange_bg;
    width: 100%;
    height: 150px;
    .box1{
        @include border(1px,dashed,#fff);
         @include padding(10px);
         .rounded-0 & {
            border-radius: 0px;
        }
     }
     .box2{
         @include border(1px,solid,#000);
         @include padding(10px);
     }
    @media (min-width:768px) and (max-width:960px) {
            background-color:$blue_bg;
    }
}
h1{
    @media (min-width:768px) and (max-width:960px){
        font-size: $fontSize * 3;
    }
}
.btn{
    &:hover{
        color: #000 !important;
    }
}
.module{
    padding: 10px;
    h3{
        color: red;
    }
}
.news{
    @extend .module;
}