<!-- <div class="grid_container p-4">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
</div>
<section>
    <h1>HTML/CSS Tutorials</h1>
    <div class="sub">
        <h2>HTML</h2>
        <h2>CSS</h2>
        <h2>Bootstrap</h2>
        <h2>W3.CSS</h2>
    </div>

    <h1>Scripting Tutorials</h1>
    <div class="sub">
        <h2>JavaScript</h2>
        <h2>jQuery</h2>
        <h2>React</h2>
    </div>

    <h1>Programming Tutorials</h1>
    <div class="sub">
        <h2>Python</h2>
        <h2>Java</h2>
        <h2>C++</h2>
    </div>
</section> -->
<!-- <ul class="a">
    <li>Coffee - A brewed drink prepared from roasted coffee beans, which are the seeds of berries from the Coffea plant
    </li>
    <li>Tea - An aromatic beverage commonly prepared by pouring hot or boiling water over cured leaves of the Camellia
        sinensis, an evergreen shrub (bush) native to Asia</li>
    <li>Coca Cola - A carbonated soft drink produced by The Coca-Cola Company. The drink's name refers to two of its
        original ingredients, which were kola nuts (a source of caffeine) and coca leaves</li>
</ul> -->
<dl class="dl">
    <dt>Coffee</dt>
    <dd>- A brewed drink prepared from roasted coffee beans, which are the seeds of berries from the Coffea plant</dd>
    <dt>Tea</dt>
    <dd>- An aromatic beverage commonly prepared by pouring hot or boiling water over cured leaves of the Camellia
        sinensis, an evergreen shrub (bush) native to Asia</dd>
    <dt>Coca Cola</dt>
    <dd>- A carbonated soft drink produced by The Coca-Cola Company. The drink's name refers to two of its
        original ingredients, which were kola nuts (a source of caffeine) and coca leaves</dd>
</dl>
<style>
    .test {
        color: yellow;
    }
</style>
<h1 class="fs-1">CSS Specificity</h1>
<p id="demo" class="test" style="color: aqua;">Hello World!</p>
<div class="borderd">

</div>

<div class="newspaper">
    <div class="newspaperhead">Lorem Ipsum Dolor Sit Amet</div>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
    nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
    blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta
    nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
</div>