<div class="row">
    <!-- <div class="col-md-6">
        <h1>Less <span class="badge bg-secondary">New</span></h1>
        <div class="card rounded-0">
            <div class="clrbg p-2">
                <div class="box1 mb-2"></div>
                <div class="box2"></div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <div class="d-flex">
                    <div class="rightIcon"></div>
                    <div class="location"></div>
                </div>
                <div class="module">
                    module
                    <h3>H3 Title</h3>
                </div>
                <div class="news">Some quick example text to build on the card title and make up the bulk of
                    <h3>H3 Title</h3>
                </div>
            </div>
        </div>
        
    </div> -->
    <div class="col-md-12">
        <app-scss></app-scss>
    </div>
</div>