<div class="card d-inline-flex mx-0 mt-2">
    <div class="card-body">
        <h2 class="card-title mt-0 lh-1 mb-3">Date using Pipe Operator</h2>
        <ul class="list-group">
            <li class="list-group-item">{{date|date:'short'}} <span class="text-black-50 d-inline-flex">//short</span>
            </li>
            <li class="list-group-item">{{date|date:'shortDate'}} <span class="text-black-50">//shortDate</span></li>
            <li class="list-group-item">{{date|date:'shortTime'}} <span class="text-black-50">//shortTime</span></li>
            <li class="list-group-item">{{date|date:'medium'}} <span class="text-black-50">//medium</span></li>
            <li class="list-group-item">{{date|date:'mediumDate'}} <span class="text-black-50">//mediumDate</span></li>
            <li class="list-group-item">{{date|date:'mediumTime'}} <span class="text-black-50">//mediumTime</span></li>
            <li class="list-group-item">{{date|date:'long'}} <span class="text-black-50">//long</span></li>
            <li class="list-group-item">{{date|date:'longDate'}} <span class="text-black-50">//longDate</span></li>
            <li class="list-group-item">{{date|date:'longTime'}} <span class="text-black-50">//longTime</span></li>
        </ul>
    </div>
</div>