<div class="card d-inline-flex mx-0 mt-2">
    <div class="card-body">
        <h2 class="card-title mt-0 lh-1 mb-3">route-paramaters works!</h2>
        <div class="d-flex">
            <ul class="list-group d-inline-flex">
                <li class="list-group-item" (click)="navigate(x)" *ngFor="let x of this.Userlist.data">
                    <a mat-stroked-button class="primary">{{x.id}}</a>
                </li>
            </ul>
            <div class="contentPart w-100 px-5">
                <app-route-parameter-result [RouteID]="userID"></app-route-parameter-result>
            </div>
        </div>
    </div>
</div>
<div class="card d-inline-flex mx-0 mt-2">
    <div class="card-body">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" (click)="childOne()">childOne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="childTwo()">ChildTwo</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>